*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 500px;
    height: 100px;
    border: 2px dotted black;
    background-color: bisque;
    margin-top: 15px;
    margin-left: 15px;
}
